body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
}

h1{
    line-height: 1.3em;
    font-size:2rem;
}


p {
    margin-bottom: 1.6em;
    text-align: justify;
    
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.cabecera {
    background: #f09c02;
    color: white;
    padding: 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.cabecera a{
    color: white;
    text-decoration: none;
}

.novedades {
    text-decoration: none;
    
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.3rem;
    letter-spacing: 15px;
}

.imagen-logo {
    height: 4rem;
    width: 4rem;
}

.menu-icon{
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li{
        display: inline-block;
        
    }

        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }

            .navigation ul li a:hover{
                background: #3a2801;
            }

.main {
    padding-top: 9rem;
}

.foto1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-foto2 {
    height: 25%;
    width: 25%;
}

.size-foto3 {
    max-height: 150px;
    max-width: 150px;
}

td {
    padding: 2rem 1rem;
    align-items: center;
}

.add__tienda{
    padding: 1rem;
}

.btn__pagar{
    text-align: center;
    text-decoration: none;
}

.footer {
    color: white;
    background: #8d6102;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

.mapa {
    /*  dejo el subrayado para que se vea que es un enlace
    text-decoration: none;
    */
    color: white;
}

.titulo{
    text-align: center;
    padding: 2rem;;
}

/* estilos para pantallas con ancho maximo de 767px */
@media only screen and (max-width: 767px){
    
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }  

    .navigation ul{
        display: none;
        
    }

    .navigation ul.mostrar{
        display: block;
    }

        .navigation ul li{
            display: block;        
        }
    
            .navigation ul li a{
                display: block;
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5px;
            }
    
                .navigation ul li a:hover{
                    background: #3a2801;
                }
}


