

/* ----- FORMULARIO TARJETA ----- */
.formulario-tarjeta{
    background: #fac24a;
    width: 90%;
    max-width: 800px;
    padding: 80px;
    margin-right: 20px;
    border-radius: 20px;
    position: relative;
}

.formulario-tarjeta label {
	display: block;
	color: #000000;
	margin-bottom: 15px;
	font-size: 20px;
}

.formulario-tarjeta input,
.formulario-tarjeta select {
	font-size: 12px;
	height: 40px;
	width: 100%;
	padding: 8px;
	transition: .5s ease all;
	border-radius: 15px;
    margin-right: 20px;
}

.btn-enviar{
	font-size: 12px;
	height: 45px;
	width: 103%;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 20px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 3px solid #002fff;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 25px;
	position: relative;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	font-size: 20px;
	color: #fff;
	background: #2364d2;
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: rgb(250, 113, 22);
}